html{
    height: 100vh;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #F2003C;
    display: flex;
    justify-content: center;
}

main{
    height: 100%;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > .main-heading{
    width: 925px;
    margin: 0;
    font-family: 'Limelight', cursive;
    font-size: 56px;
}

main > .workspace{
   width: 925px;
   flex-basis: 700px;
   gap: 25px;
   display: flex;
}

.workspace > * {
 background-color: #D9D9D9;
}

.workspace > .canvas{
    flex-basis: 700px;
    display: flex;
    flex-direction: column;
}

.workspace > .canvas .canvas-row{
    flex-grow: 1;
    display: flex;
}


.workspace > .canvas .canvas-cell{
    flex-grow: 1;
    border: 1px solid black;
}

.workspace > .tools{
    flex-basis: 200px;
    font-family: 'Monda', sans-serif;
    box-sizing: border-box;
    padding: 16px;
}

.file-settings label{
    font-size: 20px;
    font-weight: bold;
}

.file-settings .controls{
    display: flex;
    justify-content: space-between;
}

.file-settings .controls > * {
    font-weight: bold;
    background-color: transparent;
    border: 0;
}

.github-con{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0 32px 0;

}

.github-con > img {
    width: 85px;
    height: 85px;
}

.canvas-settings h2, .brush-settings h2{
    margin: 0;
}

.size-con > div {
    display: flex;
}

.size-con > div > .display {
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

.size-con > div > .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.size-con .controls > *{
    background-color: transparent;
    border: 0;
}

.color-con > span {
    display: block;
}
.color-con > input[type="color"] {
    width: 85px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.brush-settings ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.brush-settings input{
    border: 0;
    background-color: transparent;
    padding: 0;
    font-family: 'Monda', sans-serif;
    font-size: 16px;
} 

.brush-settings input[type="color"]{
    width: 28px;
    height: 28px;
}

.brush-settings input[type="color"]::-webkit-color-swatch{
    border-radius: 50%;
    border: 2px solid black;

}

.brush-settings input:hover{
    color: #F2003C;
} 

.flex-center-y{
    display: flex;
    align-items: center;
}






@media screen and (max-width: 1199px) {
    body{
        background-color: #F2003C;
    }

    main > .main-heading{
        width: 800px;
    }
    
    main > .workspace{
       width: 800px;
       flex-basis: 600px;
    }
    
    .workspace > .canvas{
        flex-basis: 600px;
    }
    
    .workspace > .tools{
        flex-basis: 200px;
    }
}

@media screen and (max-width: 1049px) {
    main > .main-heading{
        width: 650px;
    }
    
    main > .workspace{
       width: 650px;
       flex-basis: 500px;
    }
    
    .workspace > .canvas{
        flex-basis: 500px;
    }
    
    .workspace > .tools{
        flex-basis: 150px;
    }
}

@media screen and (max-width: 879px) {
    body{
        background-color: #F2003C;
        align-items: center;
    }
    main{
        height: 80%;
        width: 100%;
    }
}

@media screen and (max-width: 689px) {
    main > .workspace{
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }

    main > .main-heading{
        width: auto;

    }

    .workspace > .canvas{
        flex-basis: 500px;
        width: 500px;
    }

    .workspace > .tools {
        border-radius: 50px;
        flex-basis: 50px;
        width: 515px;
    }
}

@media screen and (max-width: 549px) {
    main > .workspace{
        width: 400px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
    }

    main > .main-heading{
        width: auto;

    }
    .workspace > .canvas{
        flex-basis: 350px;
        width: 350px;
    }

    .workspace > .tools {
        flex-basis: 60px;
        width: 365px;
    }
}

@media screen and (max-width: 400px) {
    main > .workspace{
        width: 285px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
    }

    main > .main-heading{
        width: auto;

    }
    .workspace > .canvas{
        flex-basis: 270px;
        width: 270px;
    }

    .workspace > .tools {
        flex-basis: 60px;
        width: 270px;
    }
}